/* Framework styles */

body {
    margin: 0;
    overflow: hidden;
    background-color: #7d818c;
}
#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}

.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
}
.scroll {
    overflow: auto;
}
#notSupported {
    background: #a9434a;
    border-radius: 15px;
    color: black;
    padding: 2%;
}
#notSupported {
    top: 25%;
    left: 33.333%;
    width: 33.333%;
}
.controls {
    background-color: silver;
    border-radius: 10px;
    height: 100vh;
}
.container-fluid.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
.indentText p {
    margin-left: 5%;
    text-align: left;
}
.indentText div {
    margin-bottom: 3%;
}

